@charset "UTF-8";

body {
    background-color: rgb(199, 253, 210);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(2, 114, 45);
}

h1#principal{ /*ou só #principal*/
    text-align: center;
    background-color: rgb(2, 114, 45);
    color: white
}

h2 {
    color: rgb(1, 177, 89);
}

.basico{
    color: rgb(85, 156, 85);
}
.intermediario{
    color: rgb(194, 191, 49);
}
.avancado{
    color: rgb(151, 71, 71);
}

.destaque{
    background-color: rgba(228, 228, 57, 0.384);
}